# HTTP
NAME
DESCRIPTION
VERSION
LOG_LEVEL
HOST
PORT
SCALAR_VERSION
OPENAPI_PATH
OPENAPI_EXISTS
CORS_ALLOW_ORIGINS
CORS_ALLOW_HEADERS
CORS_ALLOW_METHODS
CORS_EXPOSE_HEADERS
CORS_MAX_AGE

# Database
POSTGRES_HOST
POSTGRES_PORT
POSTGRES_DB
POSTGRES_USER
POSTGRES_PASS
POSTGRES_DRIVER
POSTGRES_POOL_SIZE
POSTGRES_MAX_OVERFLOW
POSTGRES_MAX_CONNECTIONS

# Redis
REDIS_PORT
REDIS_HOST
