# HTTP
HTTP_PORT=8000


# Database
POSTGRES_HOST
POSTGRES_DB
POSTGRES_USER
POSTGRES_PASS
POSTGRES_DRIVER
POSTGRES_POOL_SIZE
POSTGRES_MAX_OVERFLOW
POSTGRES_MAX_CONNECTIONS
POSTGRES_PORT

# Redis
REDIS_PORT
REDIS_HOST
